<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @user.skype %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @user.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @user.lon %>
</p>

<h2>Interests</h2>


<table>
  <tr>
    <th>Interest</th>
    <th>Description</th>
  </tr>
  <% @user.interests.each do |interest| %>
    <tr>
      <td><%= interest.name %></td>
      <td><%= interest.description %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
