%h1 Listing cateroties

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @cateroties.each do |cateroty|
    %tr
      %td= cateroty.name
      %td= link_to 'Show', cateroty
      %td= link_to 'Edit', edit_cateroty_path(cateroty)
      %td= link_to 'Destroy', cateroty, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Cateroty', new_cateroty_path
